<div class="header_template">
  <div class="application_name">
  Illustration level up
  </div>
  <div class="btn_places">
    <div class="create_review_btn">
      <%= link_to "Create New Review", new_review_path, class:"create_review_link"%>
    </div>
  </div>
</div>